.experience-section {
  background-color: #353434;
}

.experience-text {
  margin-bottom: 20px;
}

.experience-title h2 {
  margin-bottom: 15px;
}

.job-title {
  font-size: 16px;
}

.job ul {
  margin: 10px 0 0 40px;
}

.tabs {
  min-height: 850px;
  max-height: 850px;
}

@media screen and (min-width: 768px) {
  .experience-title h2 {
    margin-bottom: 20px;
  }
}
