.hero {
  background-color: #d40000;
  /* background-color: black; */
  width: 100%;
  max-width: 100%;
  min-height: 33vh;
  max-height: 50vh;
  align-items: flex-start;
  position: relative;
}

.hero-text,
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.hero-image {
  align-items: center;
}

.hero-image img {
  max-width: 50%;
}

#hero-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media screen and (min-width: 1024px) {
  .hero {
    align-items: center;
  }
}
