.hero {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  align-items: flex-start;
}

.hero.checker-board {
  background-color: #d40000;
}

.hero-text,
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.hero-image {
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .hero {
    align-items: center;
  }

  .hero.checker-board {
    padding: 40px;
  }
}
