.modal {
  display: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: calc(100% - 70px);
  padding: 40px 20px;
  position: fixed;
  top: 70px;
  left: 0;
  background: #444;
  z-index: 99;
}

.modal.open {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.modal-content {
  width: 100%;
  max-width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.close-modal {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
}

.close-button {
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.close-button:hover {
  background: none;
}

.close-icon .bar {
  display: inline-block;
  width: 25px;
  height: 4px;
  background: linear-gradient(to right, #444, #fff, #fff, #444);
  background-size: 100% 3px, 0 3px;
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in-out;
  position: absolute;
}

.close-icon .bar-vertical {
  transform: rotate(45deg);
}

.close-icon .bar-horizontal {
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    max-width: 600px;
    max-height: 500px;
    top: 15%;
    left: 20%;
  }

  .modal.open {
    padding: 0 40px;
    justify-content: center;
  }
}
