.about {
  width: 100%;
  max-width: 100%;
}

.about-text {
  max-width: 700px;
}

.about-image {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#5e0505, #000 90%);
}

.about-image img {
  margin-top: -20px;
  max-width: 60%;
}

@media screen and (min-width: 1024px) {
  .about.checker-board {
    padding: 40px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-text {
    max-width: 524px;
  }
}
