.accordion-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.accordion {
  max-width: 800px;
}

.accordion-item {
  background-color: #454545;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.accordion-title {
  width: 100%;
}

.accordion-button {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.accordion-button:hover {
  background: none;
}

.accordion-title h3 {
  font-size: 20px;
}

.accordion-caret {
  transform: rotate(-90deg);
  transition: transform 0.4s ease-in-out;
}

.accordion-caret.caret-toggle {
  transform: rotate(-270deg);
}

.accordion-content {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}

.accordion-content.show {
  border-top: 2px solid;
  padding-top: 10px;
  max-height: 9999px;
  transition: all 0.4s cubic-bezier(1, 0, 1, 0);
}

@media screen and (min-width: 768px) {
  /* Can turn accordion into tabs */
  /* .accordion-item {
    flex-direction: row;
  } */
}
