/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/****************
* CHECKER BOARD *
****************/
.checker-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checker-board:nth-child(odd) {
  background-color: #242424;
}

.checker-board > div {
  flex: 1; /* fill space */
}

@media screen and (min-width: 1024px) {
  .checker-board {
    flex-direction: row;
  }

  .checker-board > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .checker-board:nth-child(odd) > div:nth-child(odd) {
    margin-right: 20px;
  }

  .checker-board:nth-child(even) > div:nth-child(odd) {
    order: 1;
    margin-left: 20px;
  }

  .checker-board:nth-child(even) > div:nth-child(even) {
    order: 0;
  }
}

/**************
*   Buttons   *
**************/
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  background-color: #d40000;
  border: none;
  line-height: 1;
}

button:hover {
  background-color: #c50035;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

/**************
*    Links    *
**************/
a {
  color: #d40000;
}

a:hover {
  color: #c50035;
  cursor: pointer;
}

a:visited {
  color: #a800a0;
}
