.sr-only {
  display: none;
}

/****************
* CHECKER BOARD *
****************/

.checker-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checker-board > div {
  flex: 1; /* fill space */
}

@media screen and (min-width: 1024px) {
  .checker-board {
    flex-direction: row;
  }

  .checker-board > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .checker-board:nth-child(odd) > div:nth-child(odd) {
    margin-right: 40px;
  }

  .checker-board:nth-child(even) > div:nth-child(odd) {
    order: 1;
    margin-left: 20px;
  }

  .checker-board:nth-child(even) > div:nth-child(even) {
    order: 0;
  }
}

@media screen and (min-width: 1440px) {
  .checker-board:nth-child(odd) > div:nth-child(odd) {
    margin-right: 80px;
  }
}

/**************
*   Buttons   *
**************/
button {
  font-family: "ltc-goudy-thirty", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  background-color: #d40000;
  border: none;
  line-height: 1;
}

button:hover {
  background-color: #c50035;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

/**************
*    Links    *
**************/

a.underline-animated,
button.underline-animated {
  color: #d40000;
  padding: 5px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  background: linear-gradient(to right, #242424, #d40000, #242424),
    linear-gradient(to right, #242424, #d40000, #242424);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.underline-animated:hover,
a.underline-animated:focus,
button.underline-animated:hover,
button.underline-animated:focus {
  color: #c50035;
  cursor: pointer;
  background-size: 0 0.1em, 100% 0.1em;
}

a:visited,
button:visited {
  color: #b70031;
}

/********************
* ANIMATE ON SCROLL *
********************/

.appear-on-scroll {
  animation: appearOnScroll linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes appearOnScroll {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/******************
*      FORMS      *
******************/

form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label,
input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 8px 0;
}

input,
textarea {
  padding: 8px;
}

form button {
  margin-top: 15px;
}
